html, body{
	/* neutral */
	background-color: #EFEFEF;
}
#root{
	height: 100vh;
	width: 100vw;
	position: relative;
}
.pad-5{
	padding: 5rem!important;
}
.h-70{
	height: 70%!important;
}
.mt-6rem{
    margin-top: 6rem!important;
}
/* color scheme: https://www.canva.com/learn/website-color-schemes/ #4 "clean and highlighted */
.bg-color-sky {
    background-color: #CAEBF2;
}
.bg-color-carbon {
    background-color: #A9A9A9;
}
.bg-color-watermelon {
    background-color: #FF3B3F;
}
.bg-color-neutral {
    background-color: #EFEFEF;
}
.txt-color-sky {
    color: #CAEBF2;
}
.txt-color-carbon {
    color: #A9A9A9;
}
.txt-color-watermelon {
    color: #FF3B3F;
}
.txt-color-neutral {
    color: #EFEFEF;
}
.load-button{
	margin: 0 0 5% 43%;
}
