
/* Color Palette:
light grn: #8EE4AF
medium grn: #5CDB95
dark bluegreen: #379683
Forest grn: #1E392A
Navy: #05386B
light (text): #EDF5E1  
Tin: #828081
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#5CDB95;
    max-width: 100%;
    margin:auto;
}
#nav-flex-box{
    height: 8%;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    text-align: center;
    background-color: #05386B;
}
.nav-button{
    height: 55px;
    width: 85px;
    border: transparent;
    border-radius: 12%;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet", "sans-serif";
    font-weight: bold;
    background-color: #EDF5E1;
    color: #05386B;
    cursor: pointer;
}
.spacer{
    width: 100%;
    height: 55px;
}
h1{
    margin-top: 10%;
    font-size: 50px;
    text-align: center;
    color: #05386B;
}
h2{
    font-size: 25px;
    text-align: center;
    color: #05386B;
}
.headers{
    text-decoration: underline;
}
.img{
    max-width: 50%;
    border: 5px solid #379683;
    margin-top: 20px;
    margin-left: 25%;
}
.captions{
    width: 49%;
    margin-left:26%;
    font-size: small;
    text-align:justify;
}
p{
    width: 70%;
    margin:auto;
    text-indent: 25px;
    text-align:justify;
    font-size: 25px;
    color: #05386B;
}
#closing-statement{
    margin-top: 50px;
    width: 60%;
    font-size: xx-large;
    text-align: center;
}
#footer-flex-box{
    height: 75px;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    padding-top: 10px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #05386B;
}
.footer-left{
    height: 55px;
    width: 250px;
    margin-left: 10px;
    background-color: transparent;
    color: #EDF5E1;
    font-size: 12px;
}
.footer-right{
    height: 55px;
    width: 150px;
    margin-right: 10px;
    background-color: transparent;
    color: #EDF5E1;
    font-size: 12px;
}
/* .footer{
    height: 55px;
    width: 100%;
    background-color: #379683;

} */

/* ABOUT PAGE */
#headshot{
    height: 600px;
    width: auto;
    display: block;
    margin: auto;
}
#more-info{
   width: 400px;
   height: auto;
   margin: auto;
   display: block;
   position: relative;
   font-size: 20px;
   cursor: pointer;
}


/* CONTACT PAGE */
#contact-header{
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.contact-methods{
    width: 100%;
    color: #EDF5E1;
    font-size: 25px;
    text-align: center;
}
#contact-phone{
    width: 300px;
    height: 500px;
    display: inline-block;
    margin-left: 20px;
    background-color: #05386B;
    border: 2px solid #EDF5E1;
    border-radius: 12%;
}
#contact-email{
    width: 300px;
    height: 500px;
    display: inline-block;
    background-color: #05386B;
    border: 2px solid #EDF5E1;
    border-radius: 12%;
}
#email-link{
    color: #EDF5E1;
    cursor: pointer;
}
#img-phone{
    width: 125px;
    margin-top: 50px;
    padding-bottom: 80px;
    padding-left: 62.5px;
    padding-right: 62.5px;
    border-bottom: 2px solid #EDF5E1;
    border-length: 250px;
}
#img-email{
    width: 250px;
    margin-top: 50px;
    border-bottom: 2px solid #EDF5E1;
}
#contact-footer{
    width: 100%;
    position: fixed;
    bottom:0;
}