/* Mario Pest Control */
html, body{
    background-color: beige;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    justify-content: center;
    margin-top: 12.5px;
    margin-bottom: 50px;
    font-family: sans-serif;
    color: cadetblue;
}
#mario{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
#pest-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.list-image{
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
}
#submit-button{
    display: block;
    margin: auto;
}
h3{
    text-align: center;
    font-size: 25px;
}
#footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    background: cadetblue;

}