h1{
    display: flex;
    justify-content: center;
    font-family: serif;
    font-size: 45px;
}
body{
    background: khaki;
}
p{
    display: flex;
    justify-content: center;
    border-bottom: black solid 2px;
    padding-bottom: 10px;
    margin-bottom: 75px;
    font-size: 20px;
}
div{
    display: flex;
    justify-content: space-around;
}
form{
    margin-left: -50px;
    font-size: larger;
}
h3{
    text-decoration: underline;
    margin-bottom: 5px;
}
img{
    height: 50%;
    width: 50%;
    display: inline-block;
}