html, body{
        margin: 0;
        padding: 0;
        background-color: rgb (255, 255, 255);
        

}
.header{
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 560px;
    color: white;
    font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
}
.header:before{
    background-color: #212529
}

h1{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}