/* colors*/
/* font: #325050
h3 headers: rgb(46, 72, 76)
background: #ffffff
            #e5ede8 
            rgba(138,188,159,0.5)
            #134347
links: #0d8ba1
*/

/* main font for page */
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);



/* Base CSS */
html, body{
    margin: 0;
    padding: 0;
}
body{
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
}
a{
    text-decoration: none;
    color: #0d8ba1;
    cursor: pointer;
    font-style: normal;
}
u {
    text-decoration: underline dotted;
}
ul{
    list-style: none;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* REMOVE BORDER WHEN FINISHED */
/* .container > div {
    border: solid black 2px;
} */
h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.2em;
}
h3{
    color: rgb(46, 72, 76);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
}
    /* make new img to extend entire top row on top of two columns */
#div1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* background color is placeholder for image */
    background-color:seagreen;
    text-align: center;
    padding: 78px;
}
#div1 > h1{
    margin-bottom: 10px;
    color: white;
    font-weight: 100;
}
#div1 > h2{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
}
#div2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
     /* background color is placeholder for image */
     background-color:seagreen;
     
}
#div2 > button:first-child {
    height: 25%;
    width: 60%;
    border: transparent;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.65);
    font-family: 'julius sans one', sans-serif;
    font-size: 1.2em;   
    cursor: pointer;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
#div2 > button:first-child:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.25);
}
#div2 > button:nth-child(2){
    height: 25%;
    width: 15%;
    border: transparent;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.65);
    /* font doesn't work yet */
    font-family: 'verdemoderna';
    font-size: 3em;
    font-weight: bold;
    margin-left: 1px;
    cursor: pointer;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
#div2 > button:nth-child(2):hover{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.25);
}
#div3{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 5% 5% 5% 15%;
    line-height: 2;
    letter-spacing: 0.02em;
}
#div4{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #e5ede8;
    color: #c0cac3;
    
}
.authors-list{
    border-top: solid 1px rgba(192, 202, 195, 0.35);
    margin-left: 10%;
    margin-bottom: 5%;
    padding-top: 5%;
    margin-right: 35%
}
.authors{
    font-style: italic;
}
.authors li:first-child{
    border-top: 0;
    margin-top: 15%;
}
.author{
    color: #616857;
    font-size: 0.85em;
    transition: 0.2s ease-out;
}
.author:hover{
    color: rgb(76, 145, 136);
}
.articles{
    font-family: 'Julius Sans One', sans-serif;
    color: #607476;
    font-size: 1.2em;
    transition: color 0.2s ease-out;
}
.articles:hover{
    color: rgb(76, 146, 139);
}
#div5{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding: 5% 5% 5% 15%;
    line-height: 2;
    letter-spacing: 0.02em;
    background-color: rgba(138,188,159,0.5);
    /* background URLs not working */
    background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
}
#div5 > a{
    color: #0d8ba1;;
}
/* change div6 background color from lightpink to image */
#div6{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background: lightpink;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
}
.links {
    color: #607476;
    transition: 0.2s ease-out;
}
.links:hover{
    color: rgb(78, 143, 137);
}
.link-style{
    border-bottom: solid 1px rgba(160, 185, 173, 0.75);
    margin-left: 10%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;;
    margin-right: 35%
}
#div6 li:first-child{
    border-top: solid 1px rgba(160, 185, 173, 0.75);
    margin-top: 20%;
}
#div7{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    padding: 5% 5% 5% 15%;
    line-height: 2;
    letter-spacing: 0.02em;
}
#div8{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background-color: #e5ede8;
}
#div9{
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    text-align: center;
    font-size: 1.95em;
    padding: 100px;
    /* background image doesn't work */
    background-image: url(contours@2x.png), url(gridlines.png), url(noise.png), url(koi.jpg);
    background-color: rgba(46, 59, 51, 0.5);
    color: rgba(255, 255, 255, 0.4);
}
.footer p:first-child a{
    color:rgba(255, 255, 255, 0.6);
    transition: text-decoration 0.2s ease-out;
}
.footer p:first-child a:hover{
    text-decoration: underline;
}
#div10{
    grid-row: 6 / 7 ;
    grid-column: 1 / 3;
    background: #134347;
}
.footer {
    /* make these span the width of the page */
    /* background-color: aquamarine; */
    background-image: url(contours@2x.png), url(gridlines.png), url(noise.png), url(koi.jpg);
}

@media (max-width: 900px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    .authors {
         
    }
    .links {

    }
    /* container could use some help so that it's children are full screen width */
    .container {
        
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */

.icons {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding: 55px 10%;
}
/* can't get imported font-family to work....tried putting in .icons and .icons > div ....The font does change, but not to the expected font*/
.icons > div {
    width: 50px;
    height: 50px;
    background-color: #134347;
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    cursor: pointer;
}
.icons > div:hover{
    color: #134347;
    background-color: rgba(255, 255, 255, 0.3);
}
#footer1::before{
    font-family: 'verdemoderna';
    content: "5"
}
/* when working, all footer icons need to be placed here */
/* icon fonts from CSS Zen Garden, not my own */
@font-face {
    font-family: 'verdemoderna';
    src:url('verdemoderna.eot');
    src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
        url('verdemoderna.woff') format('woff'),
        url('verdemoderna.ttf') format('truetype'),
        url('verdemoderna.svg#verdemoderna') format('svg');
    font-weight: normal;
    font-style: normal;
} 